*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    color: black;
}
.logo-nav-dark{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo-nav{
    max-width: 100px;
}

.big-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-white{
    display: flex;
    align-items: center;
}

.item-nav-white{
    display: flex;
    gap: 10px;
}

.icon-size{
    color: #00000099;
    font-size: 12px;
}

.small-nav{
    justify-content: flex-end;
    gap: 10px;
}

.btn-darkest{
    color: white;
    background-color: #212529;
    border: solid #212529;
    padding: 0 10px;
    border-radius: 10px;
}



/*----------SECTION FIRST-------*/


.section-first{
    background-position: top;
    background-image: url(../img/jumbo-bg.png);
    height: 85vh;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
}

.img-logo-banner{
    width: 100%;
    padding: 20px 0;
}

.text-banner{
    padding: 20px 0;
}

.btn-redred{
    color: white;
    background-color: #ce1800;
    border: solid #ce1800;
    padding: 10px 10px;
    border-radius: 15px;
}


/*----------SECTION SECOND-------*/


.section-first-bottom{
    padding: 50px 20px;
}

.container-img-banner{
    border: solid 1px;
    border-radius: 20px;
    overflow: hidden;
}

.container-img-banner:hover{
    border: solid 8px white;
    box-shadow: 0px 0px 3px 6px #00ecff;
}

.img-baner-bottom{
    width: 100%;
}



/*----------SECTION SECOND-------*/



.Playstation5{
    padding: 30px 0;
}


.text-playstation5{
    text-align: center;
    padding: 40px 0;
}

.text-blue{
    color: rgb(5, 61, 202);
}

.contain-big-img{
    display: flex;
    align-items: center;
}

.btn-blueblue{
    color: white;
    background-color: rgb(5, 61, 202);
    border: solid rgb(5, 61, 202);
    padding: 10px 10px;
    border-radius: 15px;
}

.img-playstation5{
    width: 100%;
}

.img-grey{
    transition: filter;
    transition-property: filter;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.img-grey:hover{
    filter: grayscale(1);
}

.playstation-component:hover{
    
    border-bottom: solid 2px rgb(5, 61, 202);
}
.text-img-button{
    text-align: center;
}


