*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


header{
    position: sticky;
    top: -38px;
    z-index: 999;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: #006cf9;
}
.logo-nav-dark{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.logo-nav{
    max-width: 100px;
}

.big-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    background-color: white;
}

.nav-white{
    display: flex;
    align-items: center;
}

.item-nav-white{
    display: flex;
    gap: 10px;
    position: relative;
}

.icon-size{
    color: #00000099;
    font-size: 12px;
}

.small-nav{
    justify-content: flex-end;
    gap: 10px;
}

.btn-darkest{
    color: white;
    background-color: #212529;
    border: solid #212529;
    padding: 0 10px;
    border-radius: 10px;
}

.humburger-menu{
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.nav-animation{
    top: 33px;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 50px;
    border: solid 2px white;
    border-radius: 0 0 20px 20px;
    box-shadow: -6px 6px 5px 1px #0947ffad;
    display: none;
}
.display-animation:hover .nav-animation{
    display: flex;
}

.display-animation:hover .nav-animation-humburger{
    display: flex;
}

.color-nav-none{
    color: #064faf;
}

.nav-animation-humburger{
    padding: 20px;
    top: 40px;
    left: 14px;
    position: absolute;
    background-color: #ffffffde;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: flex-start;
    gap: 31px;
    border: solid 2px white;
    border-radius: 0 0 0px 20px;
    box-shadow: -6px 6px 5px 1px #0947ffad;
    display: none;
    flex-direction: column;
}




/*----------SECTION FIRST-------*/


.section-first{
    background-position: top;
    background-image: url(../img/jumbo-bg.png);
    height: 80vh;
    display: flex;
    align-items: flex-end;
    padding: 40px;
    color: white;
}

.img-logo-banner{
    width: 100%;
    padding: 20px 0;
}

.text-banner{
    padding: 20px 0;
}

.btn-redred{
    color: white;
    background-color: #ce1800;
    border: solid #ce1800;
    padding: 10px 10px;
    border-radius: 15px;
}

.btn-redred:hover{
    border: solid 2px;
    color: white;
    box-shadow: 0px 0px 4px 5px red;
    padding: 10px 15px;
}


/*----------SECTION SECOND-------*/


.section-first-bottom{
    padding: 50px 20px;
}

.container-img-banner{
    border: solid 1px white;
    border-radius: 15px;
    overflow: hidden;
}

.container-img-banner:hover{
    border: solid 4px white;
    box-shadow: 0px 0px 3px 6px #00ecff;
}

.img-baner-bottom{
    width: 100%;
    border-radius: 15px;
}




/*----------SECTION SECOND-------*/



.Playstation5{
    padding: 30px 0;
}


.text-playstation5{
    text-align: center;
    padding: 40px 0;
}

.text-blue{
    color: rgb(5, 61, 202);
}

.contain-big-img{
    display: flex;
    align-items: center;
}

.btn-blueblue{
    color: white;
    background-color: rgb(5, 61, 202);
    border: solid rgb(5, 61, 202);
    padding: 10px 10px;
    border-radius: 15px;
}

.btn-blueblue:hover{
    color: #ffffff;
    border: solid 2px #EFEFEE;
    padding: 10px 15px;
    box-shadow: 0px 0px 4px 5px #6ca2ff;
}

.img-playstation5{
    width: 100%;
}

.playstation-component{
    height: 100%;
    filter: opacity(0.5);
}

.playstation-component:hover{
    border-bottom: solid 2px rgb(5, 61, 202);
    filter: opacity(1.5);
}
.text-img-button{
    text-align: center;
}

.section-second-bottom{
    padding: 50px 0;
}




/*----------SECTION THIRD-------*/


.section-third{
    background-position: top;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 85vh;
    display: flex;
    align-items: flex-end;
    padding: 40px 0px;
    color: white;
}

.section-third-bottom{
    background-color: #212529;
    color: white;
    padding: 40px 0;
}



/*----------SECTION FIFTH-------*/



.section-PS-PLUS{
    background-color: #969696;
}

.ps-plus-text{
    padding: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ps-plus-img{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: 100%;
}

.btn-sky-blue{
    color: rgb(29, 104, 232);
    background-color: #b6bbbc;
    border: solid #b6bbbc;
    padding: 10px 10px;
    border-radius: 15px;
}



/*----------SECTION SIXTH-------*/



.section-sale{
    padding: 100px 0;
}



/*----------SECTION SIXTH-------*/




.section-PS-NOW{
    background-color: #001252;
    color: white;
}



/*----------SECTION SIXTH-------*/


.btn-whitewhite{
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: solid #ffffff;
    padding: 10px 10px;
    border-radius: 15px;
}



/*----------SECTION FOOTER-------*/


.section-footer{
    padding: 100px 0;
    background-color: #0c2991;
    color: white;
}

.contain-footer{
    display: flex;
    justify-content: space-between;
}

.img-footer-logo{
    width: 100px;
}


.link-footer{
    display: flex;
    gap: 40px;
}

.footer-color-link{
    color: white;
}

.img-sie-footer{
    width: 200px;
    padding: 20px 0;
}

.p-bottom{
    padding: 20px 0;
}






/*----------MEDIA QUERY-------*/



